@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: normal;
}

@keyframes bgcolor {
    0% {
        background-color: aliceblue;
    }

    30% {
        background-color: aqua;
    }

    60% {
        background-color: lavender;
    }

    90% {
        background-color: mediumaquamarine;
    }

    100% {
        background-color: slateblue;
    }
}

body {
    padding: 0;
    margin: 0;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid limegreen;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(224, 140, 24, 0.75);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previousOperand {
    font-family: 'Press Start 2P', sans-serif;
    color: rgba(255, 255, 255, .75);
    font-size: 1rem;
}

.output .currentOperand {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 1.5rem;
}

